
.icon-picture:before { content: '\e800'; } /* '' */
.icon-users-1:before { content: '\e801'; } /* '' */
.icon-users-outline:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-up-dir:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-lifebuoy:before { content: '\e807'; } /* '' */
.icon-ticket:before { content: '\e808'; } /* '' */
.icon-attach:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-comment-alt2:before { content: '\e80b'; } /* '' */
.icon-database:before { content: '\e80c'; } /* '' */
.icon-params:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-thumbs-down:before { content: '\e80f'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */